@media screen and (min-width: 992px) {

}

@media screen and (min-width: 992px) and (max-width: 1349px) {

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (max-width: 1199px) {
	.button-theme {
		padding: calc(1.5 * var(--space)) calc(6 * var(--space));
	}

	.button-theme.button-theme_large {
		padding: calc(2 * var(--space)) calc(8 * var(--space));
		font-size: 1.075em;
	}

	.button-theme.button-theme_small {
		padding: calc(1 * var(--space)) calc(4 * var(--space));
		font-size: 1.075em;
	}
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 574px) {

}