.button-theme {
	box-shadow: none;
	outline: none;
	border-radius: 99px;
	color: var(--color-dark);
	font-size: 1em;
	font-weight: 500;
	padding: 6px 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}

.button-theme.button-outline {
	background: var(--bs-white);
	border: 1px solid #dadada;
}

.button-theme.button-outline:hover {
	background: #e8e8e8;
}

.button-theme.button-more {
	font-weight: 700;
	height: 40px;
	width: 268px;
	padding: 0 16px;
	font-size: 1.15em;
}

.section-gap {
	padding: 6px 0;
}

.header .header-bg {
	height: 200px;
	background: linear-gradient(180deg, rgb(var(--primary-rgb)), rgb(var(--accent-rgb)) 54.3333%, rgb(var(--secondary-rgb)));
	position: relative;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header .header-bg .header-bg_title {
	font-size: 2.3em;
	line-height: 1.225em;
	font-weight: 800;
	color: #313131;
}

.header .header-bg:before {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../images/bg-header.png') 50% 50%/cover no-repeat;
	content: "";
	pointer-events: none;
}

.section-filter {
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -56px;
	position: relative;
	z-index: 11;
}

.section-filter .filter-inner {
	width: min(calc(100% - 32px), 960px);
	background: var(--bs-white);
	box-shadow: 0 4px 16px 0 rgba(34, 34, 34, 0.12);
	border-radius: 20px;
	height: 72px;
	padding: 12px 16px;
	transition: var(--transition-default);
	display: flex;
	align-items: center;
}

.section-filter .filter-inner:hover {
	box-shadow: 0 4px 32px 0 rgba(34, 34, 34, 0.25);
}

.section-filter .filter-category {
	margin-right: 12px;
	border-right: 1px solid #F4F4F4;
}

.section-filter .filter-category .dropdown .dropdown-toggle {
	max-width: 200px;
	padding: 12px 16px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	box-shadow: none;
	font-size: 1.15em;
	font-weight: 600;
	gap: 4px;
}

.section-filter .filter-category .dropdown .dropdown-toggle .limit {
	--line: 1;
}

.section-filter .filter-category .dropdown .dropdown-toggle:after {
	border-top: .4em solid;
	border-right: .4em solid transparent;
	border-bottom: 0;
	border-left: .4em solid transparent;
}

.section-filter .filter-category .dropdown .dropdown-menu {
	width: 315px;
	background: var(--bs-white);
	border-radius: 12px;
	padding: 8px;
	max-height: 448px;
	overflow-y: auto;
	border: 0;
	box-shadow: 0 4px 16px 0 rgba(34, 34, 34, 0.12);
	font-size: 1em;
}

.section-filter .filter-category .dropdown .dropdown-menu .dropdown-item {
	font-weight: 400;
	font-size: 1.15em;
	display: flex;
	align-items: center;
	gap: 8px;
	background: var(--bs-white);
	padding: 10px 46px 10px 16px;
	color: var(--bs-black);
	position: relative;
	transition: var(--transition-default);
	border-radius: 4px;
}

.section-filter .filter-category .dropdown .dropdown-menu .dropdown-item:hover {
	background: #f4f4f4;
}

.section-filter .filter-category .dropdown .dropdown-menu .dropdown-item:before {
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	content: "";
	background: var(--bs-white);
	border: 2px solid #DADADA;
	border-radius: 50%;
	transition: var(--transition-default);
}

.section-filter .filter-category .dropdown .dropdown-menu .dropdown-item:after {
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	content: '';
	background-position: center;
	background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M18.395 6.57598C18.9539 7.23778 18.8406 8.20346 18.142 8.7329C16.9767 9.61594 15.7539 11.1412 14.6582 12.8103C13.5825 14.4492 12.7128 16.0964 12.2249 17.1048C11.9744 17.6224 11.442 17.9662 10.8418 17.9976C10.2416 18.0291 9.67235 17.7432 9.36308 17.255C9.03962 16.7443 8.42067 16.0312 7.70905 15.3255C7.00122 14.6236 6.31449 14.0401 5.91727 13.7664C5.1937 13.2679 5.03373 12.3082 5.55996 11.6228C6.08619 10.9374 7.09935 10.7858 7.82292 11.2843C8.44244 11.7111 9.28082 12.4409 10.0519 13.2056C10.1818 13.3345 10.3131 13.4675 10.444 13.6035C10.8692 12.8459 11.3626 12.0187 11.9068 11.1897C13.0526 9.44411 14.5103 7.55465 16.118 6.33633C16.8166 5.80689 17.836 5.91419 18.395 6.57598Z" fill="currentColor"></path></svg>');
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.section-filter .filter-category .dropdown .dropdown-menu .dropdown-item:hover:before {
	border-color: #121212;
}

.section-filter .filter-category .dropdown .dropdown-menu .dropdown-item.active:before {
	background: rgb(var(--primary-rgb));
	border-color: rgb(var(--primary-rgb));
}

.section-filter .filter-category .dropdown .dropdown-menu .dropdown-item.active:after {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.section-filter .filter-search {
	display: flex;
	align-items: center;
	width: 100%;
	margin-right: 12px;
}

.section-filter .filter-search > svg {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}

.section-filter .filter-search > .form-control {
	height: 48px;
	border: 0;
	outline: none;
	box-shadow: none;
	background: var(--bs-white);
	font-size: 1.15em;
	padding: 0 4px 0 10px;
}

.section-filter .filter-search > .form-control::placeholder {
	font-weight: 600;
}

.section-filter .filter-location {
	margin-left: auto;
}

.section-filter .filter-location .location-button {
	color: #222222;
	border: 1px solid #DADADA;
	background: var(--bs-white);
	padding: 0 16px;
	font-size: 1.15em;
	font-weight: 700;
	height: 48px;
	border-radius: 12px;
	cursor: pointer;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	white-space: nowrap;
	transition: var(--transition-default);
}

.section-filter .filter-location .location-button:hover {
	background: #f4f4f4;
}

.section-filter .filter-location .location-button .location-button_icon {
	color: #FFBA00;
	flex-shrink: 0;
	margin: -4px 0.25em -4px -4px;
}

.section-filter .filter-button {
	white-space: nowrap;
	border: 0;
	outline: none;
	box-shadow: none;
	font-size: 1.15em;
	border-radius: 8px;
	font-weight: 700;
	color: var(--bs-black);
	background-color: #FFD400;
	height: 48px;
	padding: 0 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 12px;
}

.section-inner {
	padding: 12px 20px;
	border-radius: 12px;
}

.section-category .category-item {
	padding: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(100% / 8 - 3.5px);
}

.section-category .category-item:hover {
	transform: scale(1.04);
}

.section-category .category-item .category-item_title {
	font-size: 1em;
	line-height: 1.45em;
	color: #3f3e3e;
	margin-top: 8px;
	text-align: center;
	font-weight: 500;
}

.section-products .section-inner {
	padding: 0;
}

.section-products .products-tabs {
	padding: 16px 20px 8px;
}

.section-products .products-tabs .nav-tabs {
	top: 64px;
}

.section-products .products-tabs .nav-tabs .nav-link {
	padding: 6px 16px;
	border-radius: 99px;
	cursor: pointer;
	color: #757575;
	background-color: transparent;
	font-size: 1.3em;
	position: relative;
}

.section-products .products-tabs .nav-tabs .nav-link img {
	position: absolute;
	right: 0;
	top: 6px;
	pointer-events: none;
}

.section-products .products-tabs .nav-tabs .nav-link:hover {
	background: #f4f4f4;
}

.section-products .products-tabs .nav-tabs .nav-link.active {
	color: var(--color-dark);
}

.section-products .products-content {
	padding: 8px 20px 16px;
}

.product-card .card-header {
	border-radius: 12px;
}

.product-card .card-header .card-favourite {
	top: 12px;
	right: 12px;
	width: 24px;
	height: 24px;
	color: var(--bs-white);
}

.product-card .card-header .card-favourite svg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}

.product-card .card-header .card-favourite .card-favourite_fill {
	color: var(--bs-black);
	opacity: 0.3;
	z-index: 1;
	transition: var(--transition-default);
}

.product-card:hover .card-header .card-favourite .card-favourite_fill {
	opacity: 0.7;
}

.product-card .card-header .card-favourite.isFavourite .card-favourite_fill {
	opacity: 1;
	color: var(--color-price);
}

.product-card .card-header .card-meta {
	font-size: 0.85em;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, .75), transparent);
	background-size: 100% 200%;
	background-position: top;
	padding: 6px 10px;
	transition: 0.2s all ease-in-out;
}

.product-card:hover .card-header .card-meta {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, .95) 0%, transparent 100%);
	background-position: bottom;
}

.product-card:hover .card-header .card-image img {
	transform: scale(1.04);
}

.product-card .card-body .card-title {
	color: var(--color-dark);
	font-size: 1.15em;
	line-height: 22px;
	margin-bottom: 0;
}

.product-card .card-body .card-desc {
	--line: 1;
	margin-top: 4px;
	font-size: 1em;
	color: var(--color-desc);
	line-height: 1.43;
}

.product-card .card-body .card-price {
	color: var(--color-price);
	font-size: 1.3em;
	line-height: 26px;
	font-weight: 700;
	margin-top: 4px;
	margin-bottom: 4px;
}

.product-card .card-body .card-expand {
	margin-top: auto;
}

.product-card .card-body .card-expand .card-expand_address {
	width: calc(100% - 30px);
	font-size: 1em;
	line-height: 20px;
	color: var(--color-desc);
}

.product-card .card-body .card-expand .card-expand_address svg {
	width: 15px;
	height: 15px;
}

.product-card .card-body .card-expand .card-expand_dropdown .dropdown-menu {
	font-size: 14px;
	padding: 0;
	border: 0;
	box-shadow: 0 2px 12px -4px rgba(0, 0, 0, .32);
	border-radius: 12px;
	background: var(--bs-white);
	min-width: 210px;
	overflow: hidden;
}

.product-card .card-body .card-expand .card-expand_dropdown .dropdown-menu .dropdown-item {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 1.075em;
	padding: 12px 16px;
	color: var(--color-gray);
	transition: var(--transition-default);
}

.product-card .card-body .card-expand .card-expand_dropdown .dropdown-menu .dropdown-item:hover {
	background: #f4f4f4;
}

.product-card .card-body .card-expand .card-expand_dropdown .dropdown-menu .dropdown-item img {
	width: 24px;
	height: 24px;
}

.section-seo .seo-content {
	font-size: 12px;
	color: var(--color-gray);
}

.section-seo .seo-content h1 {
	font-size: 18px;
	font-weight: 700;
	color: var(--color-dark);
}

.section-seo .seo-content p,
.section-seo .seo-content ul,
.section-seo .seo-content ol,
.section-seo .seo-content img,
.section-seo .seo-content blockquote,
.section-seo .seo-content pre,
.section-seo .seo-content code {
	margin-bottom: 6px;
}

.section-seo .seo-title {
	font-size: 1.15em;
	color: var(--color-gray);
	font-weight: 700;
	opacity: 0.5;
}

.section-seo .seo-keywords {
	margin-top: 12px;
	margin-bottom: 0;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
}

.section-seo .seo-keywords li {
	width: 25%;
	list-style-position: inside;
	font-size: 0.85em;
}

.section-seo .seo-keywords li a {
	color: var(--color-desc);
	line-height: 25px;
}

.section-seo .seo-keywords li a:hover {
	color: var(--color-gray);
}

.handleCollapseContent .handleCollapseContentToggle {
	position: relative;
}

.handleCollapseContent .handleCollapseContentToggle:before {
	position: absolute;
	height: 25px;
	top: -25px;
	left: 0;
	width: 100%;
	content: "";
	display: block;
	background: linear-gradient(to top, rgb(255, 255, 255), rgba(233, 233, 233, 0.15));
	transition: var(--transition-default);
}

.handleCollapseContent .handleCollapseContentDesc {
	height: var(--limit);
	overflow: hidden;
	transition: var(--transition-default);
}

.handleCollapseContent.is-expanded .handleCollapseContentDesc {
	height: var(--full);
}

.handleCollapseContent.is-expanded .handleCollapseContentToggle:before {
	opacity: 0;
	visibility: hidden;
}

.section-app {
	margin-top: 12px;
	background: linear-gradient(180deg, rgb(var(--primary-rgb)), rgb(var(--accent-rgb)) 50%, rgb(var(--secondary-rgb)));
}

.section-app .app-inner {
	gap: 24px;
	display: flex;
	padding: 48px 0;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color: #222;
	background-image: url(../images/bg-uni-homepage.webp);
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: contain;
}

.section-app .app-inner .app-title {
	font-size: 3.425em;
	line-height: 1.15em;
	font-weight: 800;
	color: #313131;
}

.section-app .app-inner .app-sub {
	color: var(--bs-black);
	font-size: 2em;
	line-height: 1.225em;
}

.section-app .app-inner .app-buttons {
	display: flex;
	gap: 8px;
	align-items: center;
}

.section-app .app-inner .app-buttons img {
	height: 40px;
}

.footer .footer-top {
	padding: 24px 0;
}

.footer .footer-item .footer-title {
	color: var(--color-dark);
	font-size: 1em;
	font-weight: 700;
	margin-bottom: 12px;
}

.footer .footer-item .footer-app {
	display: flex;
	gap: 8px;
}

.footer .footer-item .footer-app .footer-app_qr {
	flex-shrink: 0;
}

.footer .footer-item .footer-app .footer-app_qr img {
	height: 88px;
}

.footer .footer-item .footer-app .footer-app_images {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.footer .footer-item .footer-app .footer-app_images img {
	height: 40px;
}

.footer .footer-item .footer-list {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.footer .footer-item .footer-list .footer-list_item {
	color: var(--color-gray);
	display: inline-block;
	vertical-align: middle;
}

.footer .footer-item .footer-list .footer-list_item:hover {
	color: var(--color-dark);
}

.footer .footer-item .footer-social {
	margin-bottom: 12px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.footer .footer-item .footer-social .footer-social_item {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer .footer-item .footer-address {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.footer .footer-item .footer-address .footer-address_item {
	color: var(--color-gray);
	display: inline-block;
	vertical-align: middle;
}

.footer .footer-item .footer-address .footer-address_item a {
	color: inherit;
}

.footer .footer-item .footer-address .footer-address_item a:hover {
	color: var(--color-dark);
}

.footer .footer-bottom {
	border-top: 1px solid #E8E8E8;
	padding: 24px 0;
	color: var(--color-gray);
	font-size: 0.85em;
}

.footer .footer-bottom .footer-certificate {
	height: 54px;
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
}