@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

@font-face {
	font-family: 'Helvetica Neus';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url(../fonts/helvetica-neue/HelveticaNeueThin.otf) format('opentype');
}

@font-face {
	font-family: 'Helvetica Neus';
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: url(../fonts/helvetica-neue/HelveticaNeueThinItalic.otf) format('opentype');
}

@font-face {
	font-family: 'Helvetica Neus';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(../fonts/helvetica-neue/HelveticaNeueLight.otf) format('opentype');
}

@font-face {
	font-family: 'Helvetica Neus';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url(../fonts/helvetica-neue/HelveticaNeueLightItalic.otf) format('opentype');
}

@font-face {
	font-family: 'Helvetica Neus';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/helvetica-neue/HelveticaNeueRoman.otf) format('opentype');
}

@font-face {
	font-family: 'Helvetica Neus';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/helvetica-neue/HelveticaNeueItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Helvetica Neus';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../fonts/helvetica-neue/HelveticaNeueMedium.otf) format('opentype');
}

@font-face {
	font-family: 'Helvetica Neus';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url(../fonts/helvetica-neue/HelveticaNeueMediumItalic.otf) format('opentype');
}

@font-face {
	font-family: 'Helvetica Neus';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/helvetica-neue/HelveticaNeueBold.otf) format('opentype');
}

@font-face {
	font-family: 'Helvetica Neus';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/helvetica-neue/HelveticaNeueBoldItalic.otf) format('opentype');
}

@font-face {
	font-family: 'Helvetica Neus';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url(../fonts/helvetica-neue/HelveticaNeueHeavy.otf) format('opentype');
}

@font-face {
	font-family: 'Helvetica Neus';
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	src: url(../fonts/helvetica-neue/HelveticaNeueHeavyItalic.otf) format('opentype');
}

@font-face {
	font-family: 'Helvetica Neus';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(../fonts/helvetica-neue/HelveticaNeueBlack.otf) format('opentype');
}

@font-face {
	font-family: 'Helvetica Neus';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url(../fonts/helvetica-neue/HelveticaNeueBlackItalic.otf) format('opentype');
}


:root {
	--transition-default: 0.3s all ease-in-out;
	--font-heading: "Abhaya Libre", "Helvetica Neus", sans-serif;
	--font-theme: "Helvetica Neus", sans-serif;
	--size-theme: 14px;


	/* Color Base */
	--primary-color: #E1099E;
	--primary-hover: #F960C9;
	--primary-rgb: 225, 9, 158;

	--primary-400: #F72BB7;
	--primary-200: #FB95DB;
	--primary-100: #FDCAED;
	--primary-50: #FEE4F6;

	--dark-color: #111215;
	--dark-900: #1C1E23;
	--dark-800: #32353E;
	--dark-700: #494D5A;
	--dark-600: #5F6475;
	--dark-500: #767C90;
	--dark-400: #9196A6;
	--dark-300: #ADB1BC;

	--bg-light: #F8F8F9;
}

body {
	position: relative;
	width: 100%;
	color: var(--dark-color);
	font-family: var(--font-theme);
	font-size: var(--size-theme);
	font-weight: 400;
	font-style: normal;
	background-color: var(--bs-white);
}

a,
a:hover,
a:focus {
	outline: none;
	text-decoration: none;
	cursor: pointer;
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
	-webkit-transition: var(--transition-default);
}

button,
button:hover,
button:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline: none !important;
	text-decoration: none !important;
	cursor: pointer;
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
	-webkit-transition: var(--transition-default);
	cursor: pointer !important;
}

input,
select,
textarea {
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
	-webkit-transition: var(--transition-default);
}

input:focus,
select:focus,
textarea:focus {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	outline: none !important;
}

.transition-default {
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
	-webkit-transition: var(--transition-default);
}

.background-cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.image-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.image-contain {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.object-fit-cover {
	-o-object-fit: cover;
	object-fit: cover;
}

.object-fit-contain {
	-o-object-fit: contain;
	object-fit: contain;
}

.pseudo {
	position: relative;
}

.pseudo:before,
.pseudo:after {
	position: absolute;
	content: '';
	display: block;
}

.zi--1 {
	z-index: -1;
}

.zi-1 {
	z-index: 1;
}

.zi-2 {
	z-index: 2;
}

.zi-3 {
	z-index: 3;
}

.zi-4 {
	z-index: 4;
}

.zi-5 {
	z-index: 5;
}

.zi-10 {
	z-index: 10;
}

.ratio > img {
	-o-object-fit: cover;
	object-fit: cover;
}

.ratio-2x1 {
	--bs-aspect-ratio: 50%;
}

.ratio-3x2 {
	--bs-aspect-ratio: calc(2 / 3 * 100%);
}

.gap-5px {
	gap: 5px;
}

.gap-10px {
	gap: 10px;
}

.gap-15px {
	gap: 15px;
}

.gap-20px {
	gap: 20px;
}

.gap-25px {
	gap: 25px;
}

.gap-30px {
	gap: 30px;
}

.link-default {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	vertical-align: middle;
	border: 0;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
	padding: 0;
}

.link-default:active {
	color: var(--primary-color);
}

.flex-same {
	-webkit-box-flex: 1 !important;
	-ms-flex: 1 1 0px !important;
	flex: 1 1 0 !important;
}

.fz-10 {
	font-size: .7em;
}

.fz-11 {
	font-size: .775em;
}

.fz-12 {
	font-size: .85em;
}

.fz-13 {
	font-size: .925em;
}

.fz-14 {
	font-size: 1em;
}

.fz-15 {
	font-size: 1.075em;
}

.fz-16 {
	font-size: 1.15em;
}

.fz-17 {
	font-size: 1.225em;
}

.fz-18 {
	font-size: 1.3em;
}

.fz-19 {
	font-size: 1.375em;
}

.fz-20 {
	font-size: 1.45em;
}

.fz-21 {
	font-size: 1.525em;
}

.fz-22 {
	font-size: 1.6em;
}

.fz-23 {
	font-size: 1.675em;
}

.fz-24 {
	font-size: 1.75em;
}

.fz-inherit {
	font-size: inherit !important
}

.color-inherit {
	color: inherit !important
}

.primary-color {
	color: var(--primary-color);
}

.dark-color {
	color: var(--dark-color);
}

.dark-color_900 {
	color: var(--dark-900);
}

.dark-color_800 {
	color: var(--dark-800);
}

.dark-color_700 {
	color: var(--dark-700);
}

.dark-color_600 {
	color: var(--dark-600);
}

.dark-color_500 {
	color: var(--dark-500);
}

.dark-color_400 {
	color: var(--dark-400);
}

.dark-color_300 {
	color: var(--dark-300);
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.fw-900 {
	font-weight: 900;
}

.mw-25px {
	min-width: 25px !important;
}

.mw-50px {
	min-width: 50px !important;
}

.mw-75px {
	min-width: 75px !important;
}

.mw-100px {
	min-width: 100px !important;
}

.overflow-y {
	overflow-y: auto !important;
}

.overflow-y::-webkit-scrollbar,
.scrollbar-hidden::-webkit-scrollbar,
.modal-dialog-scrollable .modal-body::-webkit-scrollbar {
	width: 0;
	display: none;
	opacity: 0;
	visibility: hidden;
}

.effect-path svg path {
	transition: var(--transition-default);
}

.effect-path:active svg path {
	fill: var(--primary-color);
}

.button-theme {
	padding: 10px 24px;
	box-shadow: none;
	outline: none;
	border-radius: 56px;
	border: 1px solid transparent;
	gap: 8px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	font-weight: 700;
	transition: var(--transition-default);
	white-space: nowrap;
}

.button-theme .button-theme_quality {
	min-width: 20px;
	min-height: 20px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--bs-white);
	font-weight: 700;
	background-color: var(--primary-color);
	font-size: 12px;
}

.button-theme.button-theme_small {
	padding: 6px 18px;
	font-size: .925em;
}

.button-theme.button-theme_large {
	padding: 12px 30px;
	font-size: 1.075em;
}

.button-theme_circle.button-theme {
	height: 43px;
	width: 43px;
	border-radius: 50%;
	padding: 0;
}

.button-theme_circle.button-theme_small {
	height: 33px;
	width: 33px;
}

.button-theme_circle.button-theme_large {
	height: 48.5px;
	width: 48.5px;
}

.button-theme svg path {
	transition: var(--transition-default);
}

.button-theme.button-theme_primary {
	color: var(--bs-white);
	border-color: var(--primary-color);
	background-color: var(--primary-color);
}

.button-theme.button-theme_outline_primary {
	color: var(--primary-color);
	border-color: var(--primary-color);
	background-color: var(--bs-white);
}

.button-theme.button-theme_overlay {
	color: var(--bs-black);
	background-color: var(--primary-50);
}

.button-theme.button-theme_outline_dark {
	color: var(--dark-color);
	border-color: var(--dark-color);
	background-color: var(--bs-white);
}

.button-theme.button-theme_light {
	background-color: #C8CBD3;
	color: var(--bs-white);
	border-color: transparent;
}

.button-theme.button-theme_primary:active {
	color: var(--bs-white);
	border-color: var(--primary-hover);
	background-color: var(--primary-hover);
}

.button-theme.button-theme_outline_primary:active,
.button-theme.button-theme_overlay:active,
.button-theme.button-theme_outline_dark:active,
.button-theme.button-theme_light:active {
	color: var(--bs-white);
	border-color: var(--primary-color);
	background-color: var(--primary-color);
}

.button-theme.button-theme_primary:active svg path,
.button-theme.button-theme_outline_dark:active svg path {
	fill: var(--bs-white);
}

.modal-theme .modal-dialog {
	-webkit-transform: translate(0, 250px);
	-ms-transform: translate(0, 250px);
	transform: translate(0, 250px);
}

.modal-theme.show .modal-dialog {
	-webkit-transform: none !important;
	-ms-transform: none !important;
	transform: none !important;
}

.modal-theme .modal-dialog .modal-content {
	border-radius: 24px;
}

.modal-theme.modal-theme_light .modal-content {
	background-color: var(--bg-light);
}

.modal-full {
	top: unset;
	bottom: 0;
}

.modal-full .modal-dialog {
	max-width: 100%;
	max-height: 100%;
	min-height: 50px;
	height: 100%;
	overflow: hidden;
	margin: auto 0;
	transition: var(--transition-default) !important;
	transform: translateY(110%) !important;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.modal-full .modal-dialog .modal-content {
	height: auto;
	max-height: calc(100% - 50px);
	border-radius: 24px 24px 0 0;
}

.modal-full .modal-header {
	position: relative;
	padding-top: 25px;
}

.modal-full .modal-header .modal-button_close {
	top: 15px;
}

.modal-full .modal-footer .modal-button_expand {
	width: 43px;
	height: 43px;
	padding: 0;
	flex-shrink: 0;
}

.animated-rotate > svg {
	-webkit-animation: loadingRotateDefault 2.5s infinite linear;
	animation: loadingRotateDefault 2.5s infinite linear;
}

@-webkit-keyframes loadingRotateDefault {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loadingRotateDefault {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.preloader {
	--top: 48px;
	--bottom: 75px;
	z-index: 9;
	position: absolute;
	top: var(--top);
	bottom: var(--bottom);
	left: 0;
	right: 0;
	width: 100%;
	height: calc(100% - var(--top) - var(--bottom));
	background-color: rgba(var(--bs-white-rgb), 1);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	-webkit-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
}

.preloader svg {
	fill: var(--primary-color);
}

.preloader-fullscreen {
	z-index: 1056;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--bs-white-rgb), 1);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	-webkit-transition: var(--transition-default);
	-o-transition: var(--transition-default);
	transition: var(--transition-default);
}

.preloader-fullscreen svg {
	fill: var(--primary-color);
}

.is-preloader .preloader-fullscreen,
.is-preloader .preloader {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.is-preloader .main {
	height: 100%;
}

.c-scrim {
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1058;
}

.c-datepicker {
	z-index: 1059;
	min-height: 350px;
	border-radius: 24px;
	overflow: hidden;
	top: 75%;
}

.c-datepicker.c-datepicker {
	top: 50%;
}

.c-datepicker,
.c-datepicker:after,
.c-datepicker:before,
.c-datepicker *,
.c-datepicker *:after,
.c-datepicker *:before {
	box-sizing: unset;
}

.c-datepicker__header,
.c-datepicker__clock {
	display: none !important;
}

.c-datepicker__header-day {
	background-color: var(--primary-color);
}

.c-datepicker__header-date {
	background-color: var(--primary-hover);
}

.c-datepicker__header-date__month {
	font-size: 1.3em;
}

.c-datepicker__header-date__day {
	line-height: 1.35;
	font-size: 4em;
}

.c-datepicker__header-date__time {
	font-size: 1.7em;
}

.c-datepicker__clock-hands {
	background-color: var(--primary-color);
}

.c-datepicker__day--selected {
	color: var(--bs-white);
}

.c-datepicker__day--selected::after {
	background-color: var(--primary-color) !important;
	z-index: -1;
}

.c-datepicker__hour-hand,
.u-hover-ball-effect:hover:before, .c-datepicker__day-body:hover:before, .c-datepicker__clock__num:hover:before, .c-datepicker__clock__am-pm-toggle label:hover:before {
	background-color: var(--primary-color) !important;
}

.c-btn {
	color: var(--dark-700);
}

.rd-month-label {
	font-size: 16px;
	font-weight: 500;
}

.c-datepicker__day-head {
	color: var(--dark-color);
}

.c-datepicker__day-head,
.c-datepicker__day-body {
	font-size: 14px;
}
