.section-gap {
	padding: 50px 0;
}

.button-theme {
	background: var(--primary-color);
	color: #fff;
	font-size: 1em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 6px 24px;
	height: 46px;
	font-weight: 500;
	border-radius: 50px;
	outline: none;
	box-shadow: none;
	border: 0;
	gap: 5px;
}

.button-theme > i {
	font-size: 1.3em;
}

.button-theme:hover {
	background: var(--primary-hover);
	color: #fff;
}

.header {
	padding: 10px 0;
	transition: var(--transition-default);
	position: sticky;
	background: #F8FAFC;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
}

.is-scroll.header {
	position: fixed;
	background: var(--bs-white);
	box-shadow: 0 0 3px rgb(60 72 88 / 0.15);
}

.header .header-navigation {
	margin-left: auto;
}

.header .header-navigation > ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 0;
	list-style: none;
	padding-left: 0;
}

.header .header-navigation > ul > li {
	position: relative;
}

.header .header-navigation > ul > li > a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	font-size: .925em;
	padding: 12px;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: var(--dark-color);
	font-weight: 500;
	line-height: 28px;
}

.header .header-navigation > ul > li.active > a {
	font-weight: 600;
}

.header .header-navigation > ul > li.active > a,
.header .header-navigation > ul > li > a:hover {
	color: var(--primary-color);
}

.header .header-user .button-theme {
	border-radius: 6px;
	padding-left: 16px;
	padding-right: 16px;
	height: 32px;
}

.header .header-hamburger {
	display: none;
}

.section-heading {
	max-width: 768px;
	margin: 0 auto 50px;
	text-align: center;
}

.section-heading .heading-title {
	line-height: 1.3;
	font-size: 3.5em;
	color: var(--dark-color);
	font-weight: 700;
	letter-spacing: 0.025em;
}

.section-heading .heading-sub {
	line-height: 1.5;
	font-size: 1.7em;
	color: var(--dark-color);
	font-weight: 700;
	letter-spacing: 0.025em;
}

.section-heading .heading-desc {
	margin-top: 20px;
	color: #94A3B8;
	font-size: 1.15em;
	line-height: 28px;
}

.section-aboutus {
	padding-top: 100px;
}

.section-aboutus .aboutus-form {
	max-width: 600px;
	margin: 0 auto 20px;
}

.section-aboutus .aboutus-form .aboutus-form_inner {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.section-aboutus .aboutus-form .aboutus-form_inner .form-control {
	box-shadow: 0 0 3px rgb(60 72 88 / 0.15);
	padding: 16px 170px 16px 24px;
	border-radius: 100px;
	border: unset;
	height: 50px;
	color: var(--dark-color);
	font-size: 1em;
	font-weight: 500;
}

.section-aboutus .aboutus-form .aboutus-form_inner .form-control::placeholder {
	opacity: .7;
	font-weight: 400;
}

.section-aboutus .aboutus-form .aboutus-form_inner .button-theme {
	position: absolute;
	top: 50%;
	right: 2px;
	transform: translateY(-50%);
	font-size: 1.075em;
}

.section-aboutus .aboutus-text {
	color: var(--dark-color);
	font-weight: 500;
	font-size: 1.075em;
}

.section-aboutus .aboutus-text a {
	color: var(--primary-color);
}

.section-aboutus .aboutus-text a:hover {
	color: var(--primary-hover);
}

.section-aboutus .aboutus-gallery {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	align-items: center;
	gap: 16px;
	margin-top: 40px;
}

.section-aboutus .aboutus-gallery .gallery-item {
	grid-column: span 4/span 4
}

.section-aboutus .aboutus-gallery .gallery-item .gallery-item_grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 16px;
	align-items: center;
}

.section-aboutus .aboutus-gallery .gallery-item .gallery-item_grid .gallery-item_grid__item {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
	gap: 16px;
}

.section-aboutus .aboutus-gallery .gallery-item img {
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0 0 3px rgb(60 72 88 / 0.15);
}

.feedback-item {
	cursor: e-resize;
}

.feedback-item .feedback-content {
	box-shadow: 0 0 3px rgb(60 72 88 / 0.15);
	background: var(--bs-white);
	padding: 24px;
	border-radius: 4px;
	text-align: center;
	position: relative;
	margin-bottom: 30px;
}

.feedback-item .feedback-content:before {
	position: absolute;
	content: "";
	bottom: -4px;
	border: 8px solid;
	border-top-color: transparent;
	border-bottom-color: var(--bs-white);
	inset-inline-start: 50%;
	border-inline-start-color: transparent;
	border-inline-end-color: var(--bs-white);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	box-shadow: 2px 2px 2px -1px rgb(60 72 88 / 0.15) !important;
	transform: rotate(45deg);
}

.feedback-item .feedback-content .feedback-icon {
	color: var(--primary-color);
	font-size: 2em;
	margin-bottom: 10px;
}

.feedback-item .feedback-content .feedback-desc {
	color: #94A3B8;
	font-size: 1em;
}

.feedback-item .feedback-content .feedback-star {
	margin-top: 10px;
	font-size: .85em;
	color: rgb(251, 191, 36);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

.feedback-item .feedback-user {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.feedback-item .feedback-user .feedback-user_image {
	width: 60px;
	height: 60px;
	box-shadow: 0 5px 13px rgb(60 72 88 / 0.20) !important;
}

.feedback-item .feedback-user .feedback-user_name {
	margin-top: 15px;
	font-size: 1.075em;
	color: var(--dark-color);
	font-weight: 700;
}

.feedback-item .feedback-user .feedback-user_meta {
	color: #94A3B8;
	font-size: 1em;
	margin-top: 2px;
}

.footer {
	position: relative;
	padding-top: 23px;
	padding-bottom: 80px;
	background-color: #eee;
	background-image: url(../images/decor-footer.svg);
	background-size: cover;
}

.footer .footer-logo {
	width: 315px;
}

.footer .footer-logo img {
	width: 100%;
	height: auto;
}

.footer .footer-social {
	gap: 16px;
}

.footer .footer-social > a {
	font-size: 1.6em;
	color: var(--dark-color);
	transition: var(--transition-default);
}

.footer .footer-social > a:hover {
	color: var(--primary-color);
}

.footer .footer-middle {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid #c2c3cc;
}

.footer .footer-item .footer-title {
	font-size: 1.075em;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--primary-color);
	margin-bottom: 16px;
}

.footer .footer-item .footer-sub {
	font-size: 1em;
	font-weight: 600;
	color: var(--dark-color);
	margin-bottom: 16px;
}

.footer .footer-item .footer-info {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.footer .footer-item .footer-info .footer-info_item {
	display: flex;
	align-items: center;
	gap: 12px;
	color: var(--dark-color);
}

.footer .footer-item .footer-info a.footer-info_item {
	color: var(--primary-color);
}

.footer .footer-item .footer-info a.footer-info_item:hover {
	color: var(--primary-hover);
}

.footer .footer-item .footer-info .footer-info_item i {
	width: 16px;
	text-align: center;
}

.footer .footer-item .footer-list {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.footer .footer-item .footer-list .footer-list_item {
	display: flex;
	align-items: center;
	gap: 12px;
	color: var(--dark-color);
}

.footer .footer-item .footer-list .footer-list_item:hover {
	color: var(--primary-hover);
	padding-left: 16px;
}

.footer .footer-bottom {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid #c2c3cc;
}

.footer .footer-desc {
	color: #94A3B8;
}

.booking-wrapper {
	max-width: 600px;
	margin: 0 auto;
	padding: 30px;
	border-radius: 12px;
	box-shadow: 0 0 3px rgb(60 72 88 / 0.15);
	background: var(--bs-white);
}

.booking-item .form-group {
	font-weight: 500;
}

.booking-item .booking-item_input {
	position: relative;
}

.booking-item .booking-item_input .form-control {
	box-shadow: 0 0 3px rgb(60 72 88 / 0.15);
	padding: 16px 16px 16px 40px;
	border-radius: 100px;
	border: unset;
	height: 42px;
	color: var(--dark-color);
	background: #F8F8F9;
	font-size: 1em;
	font-weight: 500;
	cursor: pointer;
}

.booking-item .booking-item_input .form-control::placeholder {
	opacity: .7;
	font-weight: 400;
}

.booking-item .booking-item_input .form-icon {
	position: absolute;
	top: calc(50% + 1px);
	left: 16px;
	transform: translateY(-50%);
	font-size: 1.075em;
}

.booking-item .booking-item_input .form-icon.form-icon_select {
	left: unset;
	right: 16px;
	font-size: 1.7em;
}

.booking-item .booking-item_input .form-icon.form-icon_select + .form-control {
	padding-left: 16px;
	padding-right: 40px;
}

.booking-item .booking-item_select .booking-item_select__list {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 5;
	gap: 5px;
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.80);
	box-shadow: 0px 32px 48px -8px rgba(0, 0, 0, 0.10), 0px 0px 14px -4px rgba(0, 0, 0, 0.05);
	backdrop-filter: blur(16px);
	display: flex;
	padding: 12px;
	flex-direction: column;
	align-items: flex-start;
	transition: var(--transition-default);
	list-style: none;
	margin-bottom: 0;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.booking-item .booking-item_select .booking-item_select__list li {
	display: flex;
	padding: 12px 24px;
	align-items: center;
	gap: 12px;
	align-self: stretch;
	border: 1px solid transparent;
	background: transparent;
	transition: var(--transition-default);
	cursor: pointer;
}

.booking-item .booking-item_select .booking-item_select__list li:not(:last-child) {
	border-bottom: 1px solid #e9e9e9;
}

.booking-item .booking-item_select .booking-item_select__list li .select-list_title {
	font-weight: 700;
	flex-shrink: 0;
}

.booking-item .booking-item_select .booking-item_select__list li .select-list_text {
	font-weight: 400;
	position: relative;
	padding-left: 12px;
}

.booking-item .booking-item_select .booking-item_select__list li .select-list_text::before {
	position: absolute;
	content: '';
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 16px;
	width: 1px;
	opacity: 0.5;
	background: #e9e9e9;
	transition: var(--transition-default);
}

.booking-item .booking-item_select .booking-item_select__list li.active .select-list_text::before,
.booking-item .booking-item_select .booking-item_select__list li:hover .select-list_text::before {
	background: rgba(var(--primary-rgb), 0.25);
}

.booking-item .booking-item_select .booking-item_select__list li.active,
.booking-item .booking-item_select .booking-item_select__list li:hover {
	border-bottom: unset;
	border: 1px solid rgba(var(--primary-rgb), 0.25);
	background: rgba(var(--primary-rgb), 0.05);
	border-radius: 56px;
}

.booking-item .booking-item_select.is-show .booking-item_select__list {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.booking-item .booking-item_time .booking-item_calendar {
	border-radius: 12px;
	padding: 15px;
	background: #F8F8F9;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--dark-color);
	font-weight: 500;
	transition: var(--transition-default);
	outline: none;
	box-shadow: none;
	border: 1px solid transparent;
	width: 100%;
}

.booking-item .booking-item_time .booking-item_calendar .booking-item_calendar__title {
	color: var(--primary-color);
	font-size: 1.15em;
	font-weight: 700;
}

.booking-item .booking-item_time .booking-item_calendar.active {
	border: 1px solid rgba(var(--primary-rgb), 0.25);
	background: rgba(var(--primary-rgb), 0.05);
}

.booking-item_heading {
	color: var(--dark-color);
	font-size: 1.6em;
	font-weight: 700;
	margin-bottom: 15px;
}

.booking-item .booking-item_title {
	color: var(--primary-color);
	font-size: 1.15em;
	font-weight: 700;
	margin-bottom: 15px;
}

.booking-item .booking-item_user {
	padding: 10px 16px;
	border-radius: 12px;
	background: rgba(var(--primary-rgb), 0.05);
	display: flex;
	align-items: center;
	gap: 12px;
	font-weight: 500;
	margin-bottom: 15px;
}

.booking-item .booking-item_user img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	flex-shrink: 0;
}

.booking-item .booking-item_service .service-item {
	display: flex;
	align-items: center;
	gap: 15px;
}

.booking-item .booking-item_service .service-item .service-item_avatar {
	width: 120px;
	border-radius: 8px;
	overflow: hidden;
	flex-shrink: 0;
}

.booking-item .booking-item_service .service-item .service-item_content {
	width: 100%;
}

.booking-item .booking-item_service .service-item .service-item_content .service-item_title {
	font-size: 1.15em;
	font-weight: 700;
	color: var(--primary-color);
}

.booking-item .booking-item_service .service-item .service-item_content .service-item_sub {
	font-weight: 700;
	color: var(--bs-black);
}

.booking-item .booking-item_service .service-item .service-item_content .service-item_time {
	color: #6c6c6c;
	font-size: 1em;
}

.booking-item .booking-item_service .service-item .service-item_remove {
	flex-shrink: 0;
	width: 32px;
	height: 32px;
}

.booking-item .booking-item_service .service-item .service-item_remove .link-default {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	background: #F8F8F9;
	font-size: 1.15em;
}

.booking-item .booking-item_service .service-item .service-item_remove .link-default:hover {
	background: #efefef;
}

.booking-item .booking-item_service .service-item + .service-item {
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px solid #e9e9e9;
}

.booking-item + .booking-item {
	margin-top: 30px;
}

.booking-wrapper + .booking-wrapper {
	margin-top: 45px;
}

.slider-theme .button-swiper__item {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	height: 36px;
	width: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: var(--primary-color);
	transition: var(--transition-default);
}

.slider-theme .button-swiper__item.swiper-button-disabled {
	background: #ececec !important;
	cursor: not-allowed;
}

.slider-theme .button-swiper__item svg {
	width: 15px;
	transition: var(--transition-default);
}

.slider-theme .button-swiper__item svg path {
	fill: var(--bs-white);
}

.slider-theme .button-swiper__item.button-next {
	right: -18px;
}

.slider-theme .button-swiper__item.button-prev {
	left: -18px;
}

.slider-theme .button-swiper__item:hover {
	background: var(--primary-hover);
}

.slider-theme .button-swiper__item.button-prev:hover svg {
	transform: translateX(-3px);
}

.slider-theme .button-swiper__item.button-next:hover svg {
	transform: translateX(3px);
}

.services-wrapper {
	max-width: 768px;
	margin: 0 auto;
	padding: 30px;
	border-radius: 12px;
	box-shadow: 0 0 3px rgb(60 72 88 / 0.15);
	background: var(--bs-white) url('../images/bg-service.png') center center/cover no-repeat;
}

.services-wrapper .services-title {
	border-bottom: 3px dotted #a6a6a6;
	font-size: 1.6em;
	padding-bottom: 8px;
	margin-bottom: 16px;
	color: var(--dark-color);
}

.services-wrapper .services-list .services-item {
	display: flex;
	align-items: center;
	gap: 15px;
}

.services-wrapper .services-list .services-item .services-item_title {
	font-size: 1.15em;
	font-weight: 700;
	color: var(--dark-color);
}

.services-wrapper .services-list .services-item .services-item_desc {
	color: #94A3B8;
	font-size: 1em;
	margin-top: 4px;
}

.services-wrapper .services-list .services-item .services-item_price {
	width: 80px;
	flex-shrink: 0;
	text-align: right;
	font-size: 1.75em;
}

.services-wrapper .services-list .services-item .services-item_price strong,
.services-wrapper .services-list .services-item .services-item_price b {
	font-weight: 700;
}

.services-wrapper .services-list .services-item + .services-item {
	margin-top: 16px
}

.services-wrapper .services-box + .services-box {
	margin-top: 32px
}

.gift-card {
	padding: 40px 24px;
	border-radius: 4px;
	background-image: linear-gradient(90deg, #fff 40%, #e0e0e0 100%);
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.gift-card:before {
	background: transparent url('../images/gift.png') center center/cover no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	pointer-events: none;
	z-index: 1;
}

.gift-card .gift-price {
	position: absolute;
	top: 24px;
	left: 24px;
	z-index: 2;
	font-size: 2em;
	font-weight: 700;
	background-image: linear-gradient(to left top, #AF7D35, #D7B85E);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gift-card .gift-content {
	padding-left: 37%;
	text-align: center;
	z-index: 2;
	position: relative;
}

.gift-card .gift-content .gift-decor {
	font-family: "Nexa Rust Script";
	font-size: 4em;
	line-height: 1;
}

.gift-card .gift-content .gift-title {
	font-size: 2.45em;
	margin-top: 5px;
	font-weight: 500;
	text-transform: uppercase;
}

.gift-card .gift-content .gift-desc {
	color: #6c6c6c;
	font-size: 1em;
}

.gift-card .gift-content .gift-name {
	display: inline-flex;
	border-radius: 4px;
	padding: 8px 16px;
	margin-top: 10px;
	color: var(--bs-white);
	font-size: 1em;
	font-weight: 500;
	background: linear-gradient(to right, #AF7D35, #D7B85E);
}

@media screen and (max-width: 1199px) {
	.gift-card .gift-content .gift-decor {
		font-size: 3em;
	}

	.gift-card .gift-content .gift-title {
		font-size: 1.75em;
	}

	.gift-card {
		padding: 24px;
	}

	.gift-card:before {
		background-size: 105% 100%;
	}

	.gift-card .gift-price {
		top: 5px;
		left: 15px;
	}
}

@media screen and (max-width: 991px) {
	.header {
		background: var(--bs-white);
		box-shadow: 0 0 3px rgb(60 72 88 / 0.15);
		position: fixed;
	}

	.header .header-inner {
		gap: 0;
		flex-wrap: wrap;
	}

	.header .header-inner > * {
		order: 1;
	}

	.header .header-inner .header-logo {
		margin-right: 10px;
	}

	.header .header-navigation {
		background: var(--bs-white);
		order: 2;
		width: 100%;
		transform: scaleY(0);
		transform-origin: top;
		transition: var(--transition-default);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		display: none;
	}

	.is-navigation .header .header-navigation {
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		display: block;
	}

	.header .header-navigation > ul {
		flex-direction: column;
	}

	.header .header-navigation > ul > li {
		width: 100%;
	}

	.header .header-navigation > ul > li > a {
		width: 100%;
		padding: 12px 0;
		justify-content: flex-start;
		text-align: left;
	}

	.header .header-navigation > ul > li + li {
		border-top: 1px solid #e9e9e9;
	}

	.header .header-user {
		margin-left: auto;
	}

	.header .header-hamburger {
		display: block;
		margin-left: 10px;
	}

	.header .header-hamburger .hamburger-button {
		position: relative;
		width: 20px;
		height: 16px;
		transform: translateY(-1px);
		display: block;
	}

	.header .header-hamburger .hamburger-button > i {
		background-color: #010203;
		width: 100%;
		height: 2px;
		position: absolute;
		display: block;
		transition: var(--transition-default);
		left: 0;
	}

	.header .header-hamburger .hamburger-button > i:nth-child(1) {
		top: 0;
	}

	.header .header-hamburger .hamburger-button > i:nth-child(2) {
		top: 7px;
	}

	.header .header-hamburger .hamburger-button > i:nth-child(3) {
		bottom: 0;
		left: auto;
		right: 0;
	}

	.is-navigation .header .header-hamburger .hamburger-button > i:nth-child(1) {
		transform: rotate(45deg);
		top: 7px;
	}

	.is-navigation .header .header-hamburger .hamburger-button > i:nth-child(2) {
		left: 50%;
		width: 0;
	}

	.is-navigation .header .header-hamburger .hamburger-button > i:nth-child(3) {
		transform: rotate(-45deg);
		bottom: 7px;
		width: 100%;
	}

	.section-gap {
		padding: 30px 0;
	}

	.section-heading {
		margin-bottom: 30px;
	}

	.section-heading .heading-title {
		font-size: 2em;
		line-height: 1.3;
	}

	.section-heading .heading-desc {
		font-size: 1.075em;
		line-height: 1.3;
	}

	.section-aboutus {
		padding-top: 100px;
	}

	.section-aboutus .aboutus-form .aboutus-form_inner .button-theme {
		font-size: 1em;
		padding-left: 16px;
		padding-right: 16px;
	}

	.section-aboutus .aboutus-gallery {
		grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
	}

	.booking-wrapper {
		padding: 20px;
	}

	.booking-item .booking-item_time .booking-item_calendar {
		padding: 10px;
	}

	.booking-item .booking-item_title,
	.booking-item .booking-item_time .booking-item_calendar .booking-item_calendar__title {
		font-size: 1.075em;
	}

	.booking-item .booking-item_time .booking-item_calendar .booking-item_calendar__value {
		font-size: .925em;
	}

	.booking-item .booking-item_user img {
		width: 35px;
		height: 35px;
	}

	.booking-item_heading {
		font-size: 1.3em;
	}

	.booking-item .booking-item_service .service-item {
		gap: 10px;
	}

	.booking-item .booking-item_service .service-item .service-item_avatar {
		width: 90px;
	}

	.booking-item .booking-item_service .service-item .service-item_remove {
		width: 30px;
		height: 30px;
	}

	.feedback-item .feedback-content {
		padding: 18px;
	}

	.footer {
		padding-bottom: 40px;
	}

	.footer .footer-logo {
		width: 100%;
	}

	.footer .footer-social {
		gap: 8px;
	}

	.footer .footer-social > a {
		font-size: 1.3em;
	}

	.footer .footer-middle {
		margin-top: 20px;
		padding-top: 20px;
	}

	.footer .footer-item .footer-title {
		font-size: 1em;
	}

	.services-wrapper {
		padding: 16px;
	}

	.services-wrapper .services-title {
		font-size: 1.45em;
	}

	.gift-card .gift-content .gift-decor {
		font-size: 2.5em;
	}

	.gift-card .gift-content .gift-title {
		font-size: 1.5em;
	}

	.gift-card {
		padding: 24px;
		background-image: linear-gradient(180deg, #fff 40%, #e0e0e0 100%);
	}

	.gift-card:before {
		background-size: 100% 100%;
		opacity: .75;
	}

	.gift-card .gift-content {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 35px;
	}

	.gift-card .gift-price {
		top: 15px;
		left: 50%;
		transform: translateX(-50%);
	}
}