.dashboard-page {
	--width: 280px;
}

.dashboard-sidebar {
	width: var(--width);
	transition: var(--transition-default);
	border-right: 1px solid var(--primary-border);
}

.dashboard-sidebar .sidebar-logo {
	height: calc(20 * var(--space));
	margin-bottom: calc(5 * var(--space));
}

.dashboard-sidebar .sidebar-logo [class*=sidebar-logo] {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: var(--transition-default);
	opacity: 1;
	visibility: visible;
}

.dashboard-sidebar .sidebar-logo .sidebar-logo_collapsed {
	opacity: 0;
	visibility: hidden;
}

.dashboard-sidebar .sidebar-main {
	padding: 0 calc(4 * var(--space));
	height: calc(100% - calc(25 * var(--space)));
}

.dashboard-sidebar .sidebar-navigation .sidebar-navigation_group .sidebar-navigation_title {
	margin-bottom: calc(2 * var(--space));
	opacity: 1;
	visibility: visible;
	height: 24px;
	white-space: nowrap;
}

.dashboard-sidebar .sidebar-navigation .sidebar-navigation_group.active .sidebar-navigation_title {
	color: var(--primary-color);
}

.dashboard-sidebar .sidebar-navigation .sidebar-navigation_group .sidebar-navigation_list .sidebar-navigation_item {
	color: var(--gray-100);
	transition: var(--transition-default);
	padding: calc(2 * var(--space));
	border-left: 4px solid transparent;
	background: var(--transition-default);
	white-space: nowrap;
}

.dashboard-sidebar .sidebar-navigation .sidebar-navigation_group .sidebar-navigation_list .sidebar-navigation_item span {
	opacity: 1;
	visibility: visible;
	height: 24px;
	transition: 0.3s opacity ease-in-out, 0.3s background ease-in-out, 0.3s height ease-in-out;
}

.dashboard-sidebar .sidebar-navigation .sidebar-navigation_group .sidebar-navigation_list .sidebar-navigation_item svg {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}

.dashboard-sidebar .sidebar-navigation .sidebar-navigation_group .sidebar-navigation_list .sidebar-navigation_item svg path {
	transition: var(--transition-default);
}

.dashboard-sidebar .sidebar-navigation .sidebar-navigation_group .sidebar-navigation_list .sidebar-navigation_item.active {
	border-left-color: var(--primary-color);
	color: var(--primary-color);
	background: rgba(var(--primary-rgb), 0.2);
}

.dashboard-sidebar .sidebar-navigation .sidebar-navigation_group .sidebar-navigation_list .sidebar-navigation_item.active svg path {
	fill: var(--primary-color);
}

.dashboard-sidebar .sidebar-navigation .sidebar-navigation_group .sidebar-navigation_list .sidebar-navigation_item:hover {
	color: var(--bs-white);
}

.dashboard-sidebar .sidebar-navigation .sidebar-navigation_group .sidebar-navigation_list .sidebar-navigation_item:hover svg path {
	fill: var(--bs-white);
}

.dashboard-sidebar .sidebar-link {
	margin-top: calc(2 * var(--space));
	padding: calc(2 * var(--space)) 0;
	border-top: 1px solid var(--primary-border);
}

.dashboard-sidebar .sidebar-link .sidebar-link_item {
	color: var(--gray-100);
	transition: var(--transition-default);
	padding: calc(2 * var(--space)) 0;
	white-space: nowrap;
}

.dashboard-sidebar .sidebar-link .sidebar-link_item span {
	opacity: 1;
	visibility: visible;
	height: 24px;
	transition: 0.3s opacity ease-in-out, 0.3s background ease-in-out, 0.3s height ease-in-out;
}

.dashboard-sidebar .sidebar-link .sidebar-link_item svg {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}

.dashboard-sidebar .sidebar-link .sidebar-link_item svg path {
	fill: var(--gray-100);
	transition: var(--transition-default);
}

.dashboard-sidebar .sidebar-link .sidebar-link_item .svg-stroke path {
	stroke: var(--gray-100);
	fill: transparent;
	transition: var(--transition-default);
}

.dashboard-sidebar .sidebar-link .sidebar-link_item:hover,
.dashboard-sidebar .sidebar-link .sidebar-link_item:active {
	color: var(--bs-white);
}

.dashboard-sidebar .sidebar-link .sidebar-link_item:hover svg path,
.dashboard-sidebar .sidebar-link .sidebar-link_item:active svg path {
	fill: var(--bs-white);
}

.dashboard-sidebar .sidebar-link .sidebar-link_item:hover .svg-stroke path,
.dashboard-sidebar .sidebar-link .sidebar-link_item:active .svg-stroke path {
	stroke: var(--bs-white);
	fill: transparent;
}

.dashboard-sidebar .sidebar-box {
	margin-top: calc(2 * var(--space));
	padding: calc(3 * var(--space)) 0;
	border-top: 1px solid var(--primary-border);
	position: relative;
	white-space: nowrap;
}

.dashboard-sidebar .sidebar-box + .sidebar-box {
	margin-top: 0;
}

.dashboard-sidebar .sidebar-box .sidebar-social svg {
	width: 20px;
	height: 20px;
}

.dashboard-sidebar .sidebar-logout {
	padding-top: calc(9 * var(--space));
	padding-bottom: calc(3 * var(--space));
	text-align: center;
	margin-top: auto;
}

.dashboard-sidebar .sidebar-logout .button-theme span {
	opacity: 1;
	visibility: visible;
	height: 24px;
	transition: 0.3s opacity ease-in-out, 0.3s background ease-in-out, 0.3s height ease-in-out;
}

.dashboard-sidebar .sidebar-logout .button-theme svg {
	width: 18px;
	height: 18px;
}

.dashboard-header {
	height: calc(20 * var(--space));
	padding: calc(4 * var(--space)) calc(7.5 * var(--space));
	padding-left: calc(var(--width) + (7.5 * var(--space)));
	transition: var(--transition-default);
}

.dashboard-header .header-toolbar .header-toolbar_item {
	position: relative;
}

.dashboard-header .header-toolbar .header-toolbar_item .header-toolbar_item__badge {
	position: absolute;
	background: var(--color-danger);
	color: var(--bs-white);
	border-radius: 50%;
	font-size: .575em;
	width: 21px;
	height: 21px;
	padding: 3px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: -10px;
}

.dashboard-header .header-toolbar .header-toolbar_item svg {
	width: 24px;
	height: 24px;
}

.dashboard-header .header-toolbar .header-toolbar_item svg path {
	transition: var(--transition-default);
}

.dashboard-header .header-toolbar .header-toolbar_item.active {
	color: var(--primary-color);
}

.dashboard-header .header-toolbar .header-toolbar_item.active svg path,
.dashboard-header .header-toolbar .header-toolbar_item:active svg path {
	fill: var(--primary-color);
}

.dashboard-header .header-user .header-user_avatar {
	width: 40px;
	height: 40px;
}

.dashboard-header .header-user .header-user_info .header-user_wallet svg {
	width: 20px;
	height: 20px;
}

.dashboard-header .header-user .header-user_info .header-user_wallet svg path {
	transition: var(--transition-default);
}

.dashboard-header .header-user .header-user_info .header-user_wallet svg:hover path {
	fill: var(--bs-white);
}

.dashboard-main {
	width: 100%;
	height: 100%;
	padding-top: calc(20 * var(--space) + 30px);
	padding-right: calc(7.5 * var(--space));
	padding-bottom: calc(7.5 * var(--space));
	padding-left: calc(var(--width) + (7.5 * var(--space)));
	transition: var(--transition-default);
}

.dashboard-slider {
	margin-bottom: calc(7.5 * var(--space));
}

.dashboard-gap {
	margin-top: calc(7.5 * var(--space));
}

.dashboard-title {
	font-size: 1.3em;
	font-weight: 700;
	color: var(--bs-white);
	white-space: nowrap;
}

.dashboard-title > span {
	font-weight: 400;
	font-size: 14px;
}

.dashboard-sub {
	font-size: 1.15em;
	font-weight: 700;
	color: var(--bs-white);
	white-space: nowrap;
}

.dashboard-box {
	padding: calc(6 * var(--space));
	border-radius: calc(2 * var(--space));
}

.dashboard-box_small {
	padding: calc(3 * var(--space)) calc(4 * var(--space));
	border-radius: calc(2 * var(--space));
}

.dashboard-box_large {
	padding: calc(8 * var(--space));
	border-radius: calc(4 * var(--space));
}

.statistical-item {
	border-radius: calc(2 * var(--space));
	padding: calc(5 * var(--space)) calc(6 * var(--space));
	background: var(--secondary-dark);
	gap: calc(4 * var(--space));
	display: flex;
	flex-direction: column;
	height: 100%;
}

.statistical-item .statistical-item_icon {
	height: 40px;
	width: 40px
}

.statistical-item .statistical-item_status:before {
	height: calc(2 * var(--space));
	width: calc(2 * var(--space));
	display: inline-block;
	content: "";
	border-radius: 50%;
	margin-right: calc(0.5 * var(--space));
	transform: translateY(-1px);
}

.statistical-item.statistical-item_1 .statistical-item_status:before {
	background: var(--color-accent);
}

.statistical-item.statistical-item_2 .statistical-item_status:before {
	background: var(--color-primary);
}

.statistical-item.statistical-item_3 .statistical-item_status:before {
	background: var(--color-warning);
}

.statistical-item.statistical-item_4 .statistical-item_status:before {
	background: var(--color-danger);
}

.statistical-item.statistical-item_5 .statistical-item_status:before {
	background: var(--color-info);
}

.statistical-item.statistical-item_6 .statistical-item_status:before {
	background: var(--color-success);
}

.statistical-item .statistical-item_price {
	margin-top: var(--space);
}

.dashboard-chart .dashboard-chart_heading .dashboard-chart_buttons {
	min-width: 30%;
}

.dashboard-chart .dashboard-chart_heading .dashboard-chart_buttons .form-select {
	background-color: #333333;
	border: 1px solid var(--primary-border);
	color: var(--bs-white);
	padding: calc(2 * var(--space)) calc(9 * var(--space)) calc(2 * var(--space)) calc(4 * var(--space));
	min-width: 175px;
	background-image: url('../images/select-arrow.png');
	background-size: 14px 8px;
	font-size: 1em;
	border-radius: calc(2 * var(--space));
}

.dashboard-wallet .dashboard-wallet_decor {
	right: calc(3 * var(--space));
	opacity: 10%;
}

.dashboard-wallet .dashboard-wallet_top .wallet-avatar {
	height: 48px;
	width: 48px;
}

.dashboard-wallet .dashboard-wallet_top .wallet-user_rank {
	background: var(--text-dark);
	border-radius: calc(8 * var(--space));
	padding: var(--space) calc(2 * var(--space));
	white-space: nowrap;
	font-size: .85em;
	font-weight: 600;
	margin-top: calc(.5 * var(--space));
}

.dashboard-wallet .dashboard-wallet_top .wallet-user_rank.wallet-user_rank__1 {
	color: #C0693B;
}

.dashboard-wallet .dashboard-wallet_top .wallet-user_rank.wallet-user_rank__2 {
	color: #c5c5c5;
}

.dashboard-wallet .dashboard-wallet_top .wallet-user_rank.wallet-user_rank__3 {
	color: var(--primary-color);
}

.dashboard-wallet .dashboard-wallet_top .wallet-user_rank.wallet-user_rank__4 {
	color: #10A558;
}

.dashboard-wallet .dashboard-wallet_top .wallet-user_rank.wallet-user_rank__5 {
	color: #D0BDF7;
}

.dashboard-wallet .dashboard-wallet_top .wallet-user_rank__decor {
	opacity: 30%;
}

.dashboard-wallet .dashboard-wallet_top .wallet-user_rank__icon {
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: calc(1.5 * var(--space));
}

.dashboard-wallet .dashboard-wallet_top .wallet-user_rank__point {
	padding-left: calc(1.5 * var(--space));
	margin-left: calc(1.5 * var(--space));
	position: relative;
}

.dashboard-wallet .dashboard-wallet_top .wallet-user_rank__point:before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 12px;
	display: block;
	content: "";
	width: 1px;
	border-left: 1px solid var(--bs-gray-500);
}

.dashboard-wallet .dashboard-wallet_bottom .link-default svg {
	height: 20px;
	width: 20px;
}

.dashboard-zalo {
	border-radius: calc(2 * var(--space));
	background-image: var(--primary-gradient);
}

.dashboard-zalo .dashboard-zalo_decor {
	opacity: 80%;
}

.dashboard-zalo .dashboard-zalo_info {
	color: var(--text-dark);
}

.dashboard-zalo .dashboard-zalo_qr {
	width: 120px;
	flex-shrink: 0;
}

.dashboard-notifications .dashboard-notifications_heading .dashboard-notifications_button {
	color: var(--gray-100);
}

.dashboard-notifications .dashboard-notifications_heading .dashboard-notifications_button:hover {
	color: var(--bs-white);
}

.dashboard-tabs .nav-tabs {
	margin-bottom: 0;
	flex-wrap: nowrap;
	border: 0;
	gap: calc(.5 * var(--space));
}

.dashboard-tabs .nav-tabs .nav-item {
	box-sizing: border-box;
	white-space: nowrap;
}

.dashboard-tabs .nav-tabs .nav-item .nav-link {
	background: transparent;
	border-radius: 0;
	font-weight: 600;
	color: var(--gray-100);
	border: 0;
	padding: calc(1.5 * var(--space)) calc(2 * var(--space));
	width: 100%;
	text-align: center;
	justify-content: center;
	transition: var(--transition-default);
	border-bottom: 2px solid transparent;
}

.dashboard-tabs.dashboard-tabs_flex__fill .nav-tabs .nav-item {
	flex: 1;
}

.dashboard-tabs.dashboard-tabs_flex__fill .nav-tabs .nav-item .nav-link {
	width: 100%;
}

.dashboard-tabs .nav-tabs .nav-item .nav-link:hover {
	color: var(--bs-white);
}

.dashboard-tabs .nav-tabs .nav-item .nav-link.active {
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.dashboard-tabs.dashboard-tabs_list .nav-tabs .nav-item .nav-link {
	border-radius: var(--space);
	padding: calc(2 * var(--space)) calc(4 * var(--space));
	font-weight: 600;
	border: 0;
}

.dashboard-tabs.dashboard-tabs_list .nav-tabs .nav-item .nav-link.active {
	color: var(--text-dark);
	border-color: var(--primary-color);
	background: var(--primary-color);
}

.dashboard-tabs.dashboard-tabs_order .nav-tabs {
	gap: 0;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.dashboard-tabs.dashboard-tabs_order .nav-tabs .nav-item .nav-link {
	border-bottom: 2px solid var(--gray-100);
	padding: calc(2 * var(--space));
}

.dashboard-tabs.dashboard-tabs_order .nav-tabs .nav-item .nav-link.active {
	border-color: var(--primary-color);
}

.dashboard-notifications_list .notification-item {
	border-radius: var(--space);
	position: relative;
	padding: calc(3 * var(--space)) calc(4 * var(--space));
	transition: var(--transition-default);
}

.dashboard-notifications_list .notification-item .notification-item_icon {
	flex-shrink: 0;
}

.dashboard-notifications_list .notification-item .notification-item_icon svg {
	height: 28px;
	width: 28px;
}

.dashboard-notifications_list .notification-item .notification-item_content .notification-item_meta {
	color: var(--gray-100);
}

.dashboard-notifications_list .notification-item .notification-item_status {
	height: calc(2 * var(--space));
	width: calc(2 * var(--space));
	display: inline-block;
	border-radius: 50%;
	margin-right: calc(0.5 * var(--space));
	background: var(--primary-color);
	flex-shrink: 0;
	margin-left: 10px;
}

.dashboard-notifications_list .notification-item.notification-item_type__1 .notification-highlight {
	color: var(--color-primary);
}

.dashboard-notifications_list .notification-item.notification-item_type__2 .notification-highlight {
	color: var(--primary-color);
}

.dashboard-notifications_list .notification-item.notification-item_type__3 .notification-highlight {
	color: var(--color-success);
}

.dashboard-notifications_list .notification-item.notification-item_type__4 .notification-highlight {
	color: var(--color-danger);
}

.dashboard-notifications_list .notification-item.notification-item_type__5 .notification-highlight {
	color: var(--color-info);
}

.dashboard-notifications_list .notification-item.notification-item_type__6 .notification-highlight {
	color: var(--color-accent);
}

.dashboard-notifications_list .notification-item + .notification-item {
	margin-top: calc(3 * var(--space));
}

.dashboard-notifications_list .notification-item + .notification-item:before {
	position: absolute;
	top: calc(-1.5 * var(--space));
	display: block;
	left: 0;
	width: 100%;
	content: "";
	height: 1px;
	background: var(--primary-border);
}

.dashboard-notifications_list .notification-item:hover,
.dashboard-notifications_list .notification-item.notification-item_unseen {
	background: var(--accent-dark);
}

.dashboard-notifications_list .notification-empty {
	color: var(--gray-100);
}

.dashboard-notifications_list .notification-empty .notification-empty_icon {
	width: 150px;
	margin: 0 auto;
	opacity: .2;
}

.dashboard-notifications .dashboard-notifications_link {
	margin-top: calc(3 * var(--space));
	border-top: 1px solid var(--primary-border);
	padding-top: var(--space);
}

.dashboard-form_background {
	border-radius: calc(3 * var(--space));
	background: #33333380;
	padding: calc(6 * var(--space));
}

.dashboard-form .dashboard-form_button {
	padding: calc(4 * var(--space));
	border-radius: calc(2 * var(--space));
}

.dashboard-form .dashboard-form_item {
	position: relative;
}

.dashboard-form .dashboard-form_item .dashboard-form_item__select {
	background-color: #333333;
	border: 1px solid var(--primary-border);
	color: var(--bs-white);
	padding: calc(4 * var(--space)) calc(9 * var(--space)) calc(4 * var(--space)) calc(4 * var(--space));
	background-image: url('../images/select-arrow.png');
	background-size: 14px 8px;
	font-size: 1em;
	border-radius: calc(2 * var(--space));
}

.dashboard-form .dashboard-form_item .dashboard-form_item__input {
	background-color: #333333;
	border: 1px solid var(--primary-border);
	color: var(--bs-white);
	padding: calc(4 * var(--space));
	font-size: 1em;
	border-radius: calc(2 * var(--space));
}

.dashboard-form .dashboard-form_item .dashboard-form_item__select.disabled,
.dashboard-form .dashboard-form_item .dashboard-form_item__select:disabled,
.dashboard-form .dashboard-form_item .dashboard-form_item__input.disabled,
.dashboard-form .dashboard-form_item .dashboard-form_item__input:disabled {
	background-color: #525252;
	cursor: not-allowed;
}

.dashboard-form .dashboard-form_item .dashboard-form_item__input::placeholder {
	color: #8D95A3;
}

.dashboard-form .dashboard-form_item .dashboard-form_item__count {
	position: absolute;
	color: #8D95A3;
	font-size: .925em;
	bottom: calc(3 * var(--space));
	right: calc(4 * var(--space));
	pointer-events: none;
}

.dashboard-form .dashboard-form_item .dashboard-form_item__textarea {
	background-color: #333333;
	border: 1px solid var(--primary-border);
	color: var(--bs-white);
	padding: calc(3 * var(--space)) calc(4 * var(--space));
	font-size: 1em;
	resize: none;
	overflow: hidden;
	height: 85px;
	border-radius: calc(2 * var(--space));
}

.dashboard-form .dashboard-form_item .dashboard-form_item__textarea::placeholder {
	color: #8D95A3;
}

.dashboard-form .dashboard-form_item.dashboard-form_group .dashboard-form_item__icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: calc(4 * var(--space));
}

.dashboard-form .dashboard-form_item.dashboard-form_group .dashboard-form_item__icon + .dashboard-form_item__input {
	padding-left: calc(12 * var(--space));
}

.dashboard-form .dashboard-form_item.dashboard-form_group .dashboard-form_item__icon.dashboard-form_item__icon__right {
	left: unset;
	right: calc(4 * var(--space));
}

.dashboard-form .dashboard-form_item.dashboard-form_group .dashboard-form_item__icon.dashboard-form_item__icon__right + .dashboard-form_item__input {
	padding-right: calc(12 * var(--space));
	padding-left: calc(4 * var(--space));
}

.dashboard-form .dashboard-form_item.dashboard-form_group .dashboard-form_item__text + .dashboard-form_item__input {
	font-size: 1em;
	color: #8D95A3;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: calc(4 * var(--space));
}

.dashboard-form .dashboard-form_item.dashboard-form_group .dashboard-form_item__text + .dashboard-form_item__input {
	padding-right: calc(13 * var(--space));
}

.dashboard-form .dashboard-form_item.dashboard-form_group .dashboard-form_item__button {
	border: 1px solid transparent;
	outline: none;
	box-shadow: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	gap: calc(1.5 * var(--space));
	font-weight: 600;
	transition: var(--transition-default);
	font-size: 1em;
	border-radius: var(--space);
	padding: var(--space) calc(2.5 * var(--space));
	background: var(--primary-color);
	color: var(--text-dark);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: calc(4 * var(--space));
}

.dashboard-form .dashboard-form_item.dashboard-form_group .dashboard-form_item__button:hover {
	background: var(--primary-hover);
	color: var(--text-dark);
}

.dashboard-form .dashboard-form_item.dashboard-form_group .dashboard-form_item__button + .dashboard-form_item__input {
	padding-right: calc(25 * var(--space));
}

.dashboard-form .dashboard-form_item.dashboard-form_item_image {
	position: relative;
	width: 75px;
	height: 75px;
}

.dashboard-form .dashboard-form_item.dashboard-form_item_image .dashboard-form_item__button {
	background-color: #333333;
	border: 1px solid var(--primary-border);
	color: var(--bs-white);
	width: 100%;
	height: 100%;
	font-size: 1em;
	padding: 0;
	border-radius: calc(2 * var(--space));
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.dashboard-form .dashboard-form_item.dashboard-form_item_image .dashboard-form_item__input {
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
}

.dashboard-form .dashboard-form_heading .dashboard-form_heading__button {
	border: 1px solid transparent;
	outline: none;
	box-shadow: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	gap: calc(1.5 * var(--space));
	font-weight: 600;
	transition: var(--transition-default);
	font-size: .85em;
	border-radius: var(--space);
	padding: var(--space) calc(2 * var(--space));
	background: #F3404733;
	color: var(--color-danger);
}

.dashboard-form .dashboard-form_heading .dashboard-form_heading__button:hover {
	background: var(--color-danger);
	color: var(--bs-white);
}

.dashboard-form .dashboard-form_heading .dashboard-form_heading__line {
	background: #FEFAE8;
	height: 1px;
	width: 100%;
}

.dashboard-right {
	border-radius: calc(3 * var(--space));
}

.dashboard-right .dashboard-right_desc .dashboard-right_desc__text {
	white-space: nowrap;
	align-self: flex-start;
	min-width: 120px;
}

.dashboard-right .dashboard-right_desc .dashboard-right_desc__value {
	text-align: right;
}

.dashboard-right .dashboard-right_desc .dashboard-right_desc__dot {
	display: inline-block;
	width: 6px;
	height: 6px;
	background: var(--gray-100);
	border-radius: 50%;
	margin-right: var(--space);
}

.dashboard-right .dashboard-right_line {
	background: #5252523D;
	height: 1px;
	width: 100%;
	display: block;
}

.dashboard-right .dashboard-right_note .dashboard-right_note__count {
	position: absolute;
	color: #8D95A3;
	font-size: .925em;
	bottom: calc(3 * var(--space));
	right: calc(4 * var(--space));
	pointer-events: none;
}

.dashboard-right .dashboard-right_note .dashboard-right_note__input {
	background-color: #333333;
	border: 1px solid var(--primary-border);
	color: var(--bs-white);
	padding: calc(3 * var(--space)) calc(4 * var(--space));
	font-size: 1em;
	resize: none;
	overflow: hidden;
	height: 85px;
	border-radius: calc(2 * var(--space));
}

.dashboard-right .dashboard-right_note .dashboard-right_note__input::placeholder {
	color: #8D95A3;
}

.dashboard-right .dashboard-right_voucher .dashboard-right_voucher__button {
	background-color: #333333;
	border: 1px solid var(--primary-border);
	color: var(--bs-white);
	padding: calc(3 * var(--space)) calc(4 * var(--space));
	border-radius: calc(2 * var(--space));
	width: 100%;
	display: flex;
	align-items: center;
	gap: calc(2 * var(--space));
	font-size: 1em;
}

.dashboard-right .dashboard-right_voucher .dashboard-right_voucher__button svg {
	flex-shrink: 0;
}

.dashboard-modal .modal-content {
	background: #212121;
	border-radius: calc(2 * var(--space));
	border: 1px solid var(--primary-border);
}

.dashboard-modal .modal-content .modal-header {
	border-bottom: 1px solid var(--primary-border);
	padding-top: calc(3 * var(--space));
	padding-bottom: calc(3 * var(--space));
}

.dashboard-modal .modal-content .modal-footer {
	border-top: 1px solid var(--primary-border);
	padding-top: calc(3 * var(--space));
	padding-bottom: calc(3 * var(--space));
}

.dashboard-modal .modal-content .modal-title {
	font-size: 1.225em;
	color: var(--bs-white);
}

.dashboard-modal .modal-content .link-default svg path {
	fill: #303236;
	transition: var(--transition-default);
}

.dashboard-modal .modal-content .link-default:hover svg path {
	fill: var(--gray-100);
}

.dashboard-modal .modal-content .dashboard-form .dashboard-form_item {
	width: 100%;
}

.dashboard-modal .modal-content .dashboard-form .dashboard-form_item .dashboard-form_item__input {
	padding: calc(3 * var(--space)) calc(4 * var(--space));
	background: #25272C;
	width: 100%;
}

.dashboard-modal .modal-content .dashboard-form .button-theme {
	padding: calc(2 * var(--space)) calc(4 * var(--space));
	border-radius: calc(2 * var(--space));
}

.dashboard-modal .modal-content .dashboard-form .button-theme svg {
	width: 18px;
	height: 18px;
}

.modal-backdrop {
	background: #000;
	--bs-backdrop-opacity: .8
}

.dashboard-voucher_heading {
	margin-bottom: calc(4 * var(--space));
}

.dashboard-voucher_heading .dashboard-voucher_heading__text {
	color: var(--gray-100);
}

.voucher-item {
	border-radius: calc(2 * var(--space));
	position: relative;
	transition: var(--transition-default);
	background: #333333;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.voucher-item:before {
	position: absolute;
	content: "";
	background: var(--color-danger);
	height: 18px;
	width: 18px;
	border-radius: 50%;
	top: calc(4 * var(--space));
	right: calc(4 * var(--space));
	opacity: 0;
	visibility: hidden;
	transition: var(--transition-default);
}

.voucher-item:after {
	position: absolute;
	content: "";
	background: url('../images/icon-check.png');
	top: calc(4 * var(--space));
	right: calc(5 * var(--space));
	height: 12px;
	width: 12px;
	opacity: 0;
	visibility: hidden;
	transition: var(--transition-default);
}

.voucher-item.active {
	background: #24303a;
}

.voucher-item.active:before,
.voucher-item.active:after {
	opacity: 1;
	visibility: visible;
}

.voucher-item .voucher-item_image {
	width: 25%;
	padding: calc(3 * var(--space));
	border-right: 1px dashed var(--gray-100);
	position: relative;
}

.voucher-item .voucher-item_image img {
	width: 100%;
}

.voucher-item .voucher-item_image:before,
.voucher-item .voucher-item_image:after {
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	right: -4px;
	background: var(--gray-100);
	border-radius: 50%;
}

.voucher-item .voucher-item_image:before {
	top: -4px;
}

.voucher-item .voucher-item_image:after {
	bottom: -4px;
}

.voucher-item .voucher-item_content {
	width: 75%;
	padding: calc(3 * var(--space)) calc(6 * var(--space)) calc(3 * var(--space)) calc(3 * var(--space));
}

.voucher-item .voucher-item_content .voucher-item_desc {
	color: var(--gray-100);
}

.voucher-expand .button-theme {
	background: transparent !important;
	color: var(--primary-color) !important;
}

.voucher-expand .button-theme svg {
	height: 18px;
	width: 10px;
}

.voucher-expand .button-theme svg path {
	fill: var(--primary-color) !important;
}

.handleMore:not(.is-expand ) tr.handleMoreListItem {
	display: none;
}

.handleMore.is-expand .voucher-item.handleMoreListItem {
	display: flex;
}

.voucher-item.handleMoreListItem {
	display: none;
}

.handleMore.is-expand .voucher-item.handleMoreListItem {
	display: flex;
}

.handleMore.is-expand .voucher-expand .button-theme svg {
	transform: rotate(180deg);
}

.dashboard-checkbox {
	position: relative;
	overflow: hidden;
	margin-bottom: 0;
}

.dashboard-checkbox .dashboard-checkbox_input {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	display: none;
}

.dashboard-checkbox .dashboard-checkbox_box {
	width: 20px;
	height: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #333333;
	border-radius: var(--space);
	border: 1px solid #8D95A3;
	vertical-align: middle;
	cursor: pointer;
	transition: var(--transition-default);
	position: relative;
	flex-shrink: 0;
}

.dashboard-checkbox .dashboard-checkbox_input[type=radio] + .dashboard-checkbox_box {
	border-radius: 50%;
}

.dashboard-checkbox .dashboard-checkbox_box svg {
	opacity: 0;
	visibility: hidden;
	transition: var(--transition-default);
}

.dashboard-checkbox .dashboard-checkbox_text {
	color: var(--gray-100);
	transition: var(--transition-default);
	cursor: pointer;
}

.dashboard-checkbox .dashboard-checkbox_value {
	color: #5B6371;
	font-weight: 600;
	transition: var(--transition-default);
	cursor: pointer;
}

.dashboard-checkbox:hover .dashboard-checkbox_box {
	background: #424242;
}

.dashboard-checkbox .dashboard-checkbox_input:checked + .dashboard-checkbox_box {
	background: var(--primary-color);
	border-color: var(--primary-color);
}

.dashboard-checkbox .dashboard-checkbox_input:checked + .dashboard-checkbox_box svg {
	opacity: 1;
	visibility: visible;
}

.dashboard-checkbox .dashboard-checkbox_input:checked ~ .dashboard-checkbox_text,
.dashboard-checkbox .dashboard-checkbox_input:checked ~ .dashboard-checkbox_value {
	color: var(--bs-white);
}

.cart-group {
	border-radius: calc(2 * var(--space));
	overflow: hidden;
}

.cart-group .cart-group_header {
	border-radius: calc(2 * var(--space)) calc(2 * var(--space)) 0 0;
	border-bottom: 1px solid var(--primary-color);
}

.cart-group .cart-group_header .cart-group_header__info {
	font-size: 1.3em;
}

.cart-group .cart-group_header .cart-group_header__info img {
	width: 44px;
	height: 44px;
}

.cart-group .cart-group_item {
	color: var(--bs-white);
}

.cart-group .cart-group_item .cart-group_item_title {
	font-size: 1em;
	font-weight: 600;
}

.cart-group .cart-group_item .cart-group_item_title span {
	font-weight: 400;
	font-size: .925em;
}

.cart-group .cart-group_item .cart-group_item_text {
	font-size: 1em;
	font-weight: 600;
}

.cart-group .cart-group_item .cart-group_item_desc {
	font-size: 1em;
	color: var(--gray-100);
}

.cart-group .cart-product {
	display: flex;
	align-items: flex-start;
	gap: calc(3 * var(--space));
}

.cart-group .cart-product .cart-product_image {
	flex-shrink: 0;
	width: 80px;
}

.cart-group .cart-product .cart-product_content .cart-product_title {
	font-size: 1em;
	font-weight: 600;
}

.cart-group .cart-product .cart-product_content .cart-product_text {
	font-size: 1em;
	color: var(--gray-100);
	--line: 2;
}

.dashboard-form_quantity {
	display: flex;
	align-items: center;
	gap: var(--space);
}

.dashboard-form_quantity .dashboard-form_quantity__button {
	width: 28px;
	height: 28px;
	border-radius: var(--space);
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--gray-100);
	box-shadow: none;
	outline: none;
	background: transparent;
	flex-shrink: 0;
	transition: var(--transition-default);
}

.dashboard-form_quantity .dashboard-form_quantity__button svg path {
	transition: var(--transition-default);
}

.dashboard-form_quantity .dashboard-form_quantity__button:hover {
	background: #333333;
	border-color: var(--primary-color);
}

.dashboard-form_quantity .dashboard-form_quantity__button:hover svg path {
	fill: var(--primary-color);
}

.dashboard-form_quantity .dashboard-form_quantity__button.disabled,
.dashboard-form_quantity .dashboard-form_quantity__button:disabled {
	background: #424242;
	border-color: var(--gray-100);
}

.dashboard-form_quantity .dashboard-form_quantity__button.disabled svg path,
.dashboard-form_quantity .dashboard-form_quantity__button:disabled svg path {
	fill: var(--gray-100);
}

.dashboard-form_quantity .dashboard-form_quantity__input {
	color: var(--primary-color);
	width: 40px;
	height: 28px;
	border-radius: var(--space);
	padding: var(--space);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 0.925em;
	border: 1px solid var(--gray-100);
	box-shadow: none;
	outline: none;
	background: transparent;
	flex-shrink: 0;
}

.cart-group .cart-group_table th {
	white-space: nowrap;
}

.cart-group .cart-group_table th,
.cart-group .cart-group_table td {
	padding: calc(5 * var(--space)) calc(4 * var(--space));
	max-width: 300px;
	border-bottom-color: #5252523d;
}

.dashboard-goods .goods-item .goods-item_avatar {
	width: 55px;
	height: 55px;
	border-radius: calc(2 * var(--space));
	overflow: hidden;
	flex-shrink: 0;
	position: relative;
}

.dashboard-goods .goods-item .goods-item_avatar.goods-item_avatar__large {
	width: 72px;
	height: 72px;
}

.dashboard-goods .goods-item .goods-item_name {
	width: 100%
}

.dashboard-goods .goods-item .goods-item_link {
	width: calc(2 * (100% - 15% - 12% - (2 * 4 * var(--space))) / 2);
	flex-shrink: 0;
}

.dashboard-goods .goods-item .goods-item_property {
	width: calc(15% + 12% + (1 * 4 * var(--space)));
	flex-shrink: 0;
}

.dashboard-goods .goods-item .goods-item_group .goods-item_name {
	width: calc((100% - 10% - 15% - 12% - (4 * 4 * var(--space))) / 2);
	flex-shrink: 0;
}

.dashboard-goods .goods-item .goods-item_price {
	width: 10%;
	flex-shrink: 0;
}

.dashboard-goods .goods-item .goods-item_note {
	width: calc((100% - 10% - 15% - 12% - (4 * 4 * var(--space))) / 2);
	flex-shrink: 0;
}

.dashboard-goods .goods-item .goods-item_quantity {
	text-align: center;
	flex-shrink: 0;
	width: 15%;
}

.dashboard-goods .goods-item .goods-item_quantity .dashboard-form_quantity {
	justify-content: center;
}

.dashboard-goods .goods-item .goods-item_total {
	text-align: right;
	flex-shrink: 0;
	width: 12%;
}

.dashboard-goods .goods-item .goods-item_total__text {
	color: var(--gray-100);
}

.dashboard-goods .goods-item .goods-item_remove {
	width: 6%;
	text-align: right;
}

.dashboard-goods .goods-item .goods-item_remove .link-default svg {
	width: 14px;
	height: 14px;
}

.dashboard-goods .goods-item .goods-item_remove .link-default svg path {
	fill: var(--color-danger);
}

.dashboard-goods .goods-item + .goods-item {
	padding-top: calc(6 * var(--space));
	margin-top: calc(2 * var(--space));
	border-top: 1px solid #5252523d;
}

.dashboard-download {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: calc(2 * var(--space));
	height: 100%;
	padding: calc(3 * var(--space));
	border-radius: calc(2 * var(--space));
}

.dashboard-download .dashboard-download_decor__image {
	position: absolute;
	pointer-events: none;
}

.dashboard-download .dashboard-download_decor__image.decor-image_top {
	top: 0;
	right: calc(20 * var(--space));
	width: 125px;
	opacity: 5%;
}

.dashboard-download .dashboard-download_decor__image.decor-image_bottom {
	bottom: 0;
	left: 0;
	width: 85px;
	opacity: 50%;
}

.dashboard-download .dashboard-download_text {
	color: var(--bs-white);
	font-weight: 600;
	font-size: .925em;
	text-align: center;
}

.dashboard-download .dashboard-download_title {
	color: var(--bs-white);
	font-weight: 600;
	text-align: center;
	font-size: 1.15em;
}

.dashboard-download .dashboard-download_button {
	margin-top: auto;
}

.dashboard-download .dashboard-form {
	padding-left: calc(5 * var(--space));
	padding-right: calc(5 * var(--space));
}

.dashboard-download .dashboard-form .dashboard-form_item .dashboard-form_item__input,
.dashboard-download .dashboard-form .dashboard-form_button {
	border-radius: calc(10 * var(--space));
	padding: calc(3 * var(--space)) calc(6 * var(--space));
}

.dashboard-product .product-image {
	border-radius: calc(1 * var(--space));
	overflow: hidden;
	border: 2px solid transparent;
}

.dashboard-product .product-image img {
	transition: var(--transition-default);
	width: 100%;
}

.dashboard-product .product-thumb .product-image img {
	opacity: .5;
	cursor: pointer;
}

.dashboard-product .product-thumb .swiper-slide-thumb-active .product-image {
	border-color: var(--primary-color);
}

.dashboard-product .product-thumb .swiper-slide-thumb-active .product-image img {
	opacity: 1;
}

.dashboard-product .product-title {
	font-size: 1.75em;
	font-weight: 600;
	color: var(--bs-white);
}

.dashboard-product .product-price .product-price_text {
	font-size: 1.15em;
	color: var(--bs-white);
}

.dashboard-product .product-price .product-price_value {
	font-weight: 600;
	color: var(--primary-color);
	font-size: 1.75em;
}

.dashboard-product .product-stock .product-stock_text {
	font-size: 1.15em;
	color: var(--bs-white);
}

.dashboard-product .product-stock .product-stock_value {
	font-weight: 600;
	color: var(--primary-color);
	font-size: 1.3em;
}

.dashboard-product .product-property .product-property_title,
.dashboard-product .product-size .product-size_title,
.dashboard-product .product-quantity .product-quantity_title {
	font-size: 1.15em;
	font-weight: 600;
	color: var(--bs-white);
}

.dashboard-product .product-property .property-item {
	width: calc(20% - (2.4 * var(--space)));
}


.dashboard-product .product-property .property-item .property-item_input,
.dashboard-product .product-size .size-item .size-item_input {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
}

.dashboard-product .product-property .property-item .property-item_wrap,
.dashboard-product .product-size .size-item .size-item_wrap {
	display: flex;
	align-items: center;
	gap: calc(2 * var(--space));
	position: relative;
	overflow: hidden;
	padding: calc(2 * var(--space));
	border-radius: calc(1.5 * var(--space));
	background: #33333380;
	transition: var(--transition-default);
	border: 1px solid transparent;
	cursor: pointer;
	color: var(--bs-white);
	white-space: nowrap;
}

.dashboard-product .product-size .size-item .size-item_wrap {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.dashboard-product .product-property .property-item .property-item_wrap .property-item_image img {
	width: 32px;
	height: 32px;
}

.dashboard-product .product-property .property-item .property-item_wrap:hover,
.dashboard-product .product-size .size-item .size-item_wrap:hover {
	background: #FFCC3213;
}

.dashboard-product .product-property .property-item .property-item_input:checked ~ .property-item_wrap,
.dashboard-product .product-size .size-item .size-item_input:checked ~ .size-item_wrap {
	background: #FFCC3233;
	border-color: var(--primary-color);
	color: var(--primary-color);
}

.dashboard-product .product-quantity .dashboard-form_quantity .dashboard-form_quantity__button {
	width: 40px;
	height: 40px;
}

.dashboard-product .product-quantity .dashboard-form_quantity .dashboard-form_quantity__button svg {
	width: 18px;
	height: 18px;
}

.dashboard-product .product-quantity .dashboard-form_quantity .dashboard-form_quantity__input {
	height: 40px;
	min-width: 60px;
	font-size: 1.15em;
}

.dashboard-list .list-box {
	padding-left: calc(4 * var(--space));
	padding-right: calc(4 * var(--space));
	border-radius: calc(2 * var(--space));;
}

.dashboard-list .list-box .list-header {
	padding: calc(4 * var(--space)) 0;
	margin-bottom: calc(4 * var(--space));
	border-bottom: 1px solid #5252523D;
}

.dashboard-list .list-box .list-header .list-header_logo {
	width: 35px;
	height: 35px;
}

.dashboard-list .list-box .list-header .list-header_logo svg {
	height: 100%;
	width: 100%;
}

.dashboard-list .list-box .list-header .list-header_line {
	height: 35px;
	width: 1px;
	background-color: #D9D9D9;
}

.dashboard-list .list-box .list-header .list-header_code {
	border-radius: var(--space);
	padding: calc(1.5 * var(--space)) calc(3 * var(--space));
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	border: 1px solid #5252523D;
	gap: calc(1.5 * var(--space));
	height: 35px;
}

.dashboard-list .list-box .list-header .list-header_code svg {
	height: 14px;
	width: 14px;
}

.dashboard-list .list-box .list-header .list-header_status {
	height: 35px;
	font-weight: 400;
	padding: calc(1.5 * var(--space)) calc(3 * var(--space));
	border: 1px solid var(--primary-color);
	outline: none;
	box-shadow: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	gap: calc(1.5 * var(--space));
	border-radius: 40px;
	color: var(--primary-color);
	background-color: rgba(var(--primary-rgb), 0.2);
}

.dashboard-list .list-box .list-header .list-header_status.list-header_status__fill {
	color: var(--text-dark);
	background-color: var(--primary-color);
}

.dashboard-list .list-box .list-header .list-header_status svg {
	height: 20px;
	width: 20px;
}

.dashboard-list .list-box .list-header .list-header_time {
	color: var(--gray-100);
}

.dashboard-table .table {
	color: var(--bs-white);
}

.dashboard-table .table tr th,
.dashboard-table .table tr td {
	padding: calc(4 * var(--space)) calc(4 * var(--space));
}

.dashboard-table .table thead tr th {
	background-color: #33333380;
	border-bottom: 0;
}

.dashboard-table .table .table-col_action {
	width: 175px;
}

.dashboard-table .table tr:first-child {
	border-top: 0;
}

.dashboard-table .table tr td {
	border-bottom: 0;
	border-top: 1px solid #5252523d;
}

.dashboard-table .table thead tr th:first-child {
	border-top-left-radius: calc(2 * var(--space));
}

.dashboard-table .table thead tr th:last-child {
	border-top-right-radius: calc(2 * var(--space));
}

.dashboard-list .list-item_product .list-item_product__image {
	height: 55px;
	width: 55px;
	flex-shrink: 0;
}

.dashboard-list .list-item_product .list-item_product__image.list-item_product__image___large {
	width: 72px;
	height: 72px;
}

.dashboard-list .list-item_product .list-item_product__content .list-item_product__title {
	font-size: 1.075em;
}

.dashboard-list .list-item_product .list-item_product__content .list-item_product__small {
	font-size: 0.85em;
	color: var(--gray-500);
}

.dashboard-list .list-item_product .list-item_product__quantity > span {
	font-size: calc(1em + 1px);
}

.dashboard-list .list-item_product .list-item_product__text span {
	color: var(--gray-100);
	font-weight: 400;
}

.dashboard-list .list-item_product .list-item_product__price > span {
	font-size: calc(1em + 2px);
}

.dashboard-list .list-item_product .list-item_product__payment {
	font-size: .925em;
	color: #656565;
}

.dashboard-table .dashboard-table_button .button-theme {
	background: transparent !important;
	color: var(--primary-color) !important;
	padding: 0;
}

.dashboard-table .dashboard-table_button .button-theme svg {
	height: 18px;
	width: 10px;
}

.dashboard-table .dashboard-table_button .button-theme svg path {
	fill: var(--primary-color) !important;
}

.dashboard-pagination .pagination {
	margin-bottom: 0;
	justify-content: center;
	gap: calc(2 * var(--space));
}

.dashboard-pagination .pagination .page-item .page-link {
	background-color: transparent;
	border-radius: var(--space);
	border-color: transparent;
	display: flex;
	height: 40px;
	width: 40px;
	align-items: center;
	justify-content: center;
	color: var(--bs-white);
	outline: none;
	box-shadow: none;
}

.dashboard-pagination .pagination .page-item .page-link:not(.page-disabled):hover {
	color: var(--primary-color);
}

.dashboard-pagination .pagination .page-item.page-item_prev .page-link {
	border-color: var(--gray-100);
	padding: 0;
}

.dashboard-pagination .pagination .page-item.page-item_next .page-link {
	border-color: var(--primary-color);
	padding: 0;
}

.dashboard-pagination .pagination .page-item.page-item_next .page-link svg,
.dashboard-pagination .pagination .page-item.page-item_prev .page-link svg {
	width: 18px;
	height: 18px;
}

.dashboard-pagination .pagination .page-item.page-item_next .page-link svg path,
.dashboard-pagination .pagination .page-item.page-item_prev .page-link svg path {
	transition: var(--transition-default);
}

.dashboard-pagination .pagination .page-item.page-item_next .page-link:hover,
.dashboard-pagination .pagination .page-item.page-item_prev .page-link:hover,
.dashboard-pagination .pagination .page-item.active .page-link {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	color: var(--text-dark) !important;
}

.dashboard-pagination .pagination .page-item.page-item_next .page-link:hover svg path,
.dashboard-pagination .pagination .page-item.page-item_prev .page-link:hover svg path {
	fill: var(--text-dark) !important;
}